# Specify the image name
IMG_NAME=mixxxpi-ddj-flx2

# The release version of Debian
RELEASE=trixie

# (Optional) Add your Wi-Fi credentials to bake them into the image
WPA_ESSID=YourWiFiName
WPA_PASSWORD=YourWiFiPassword
WPA_COUNTRY=US