[Unit]
Description=UNX-DJ-ENGINE DRM-KMS Kiosk
After=systemd-user-sessions.service plymouth-quit-wait.service systemd-logind.service
Conflicts=getty@tty1.service

[Service]
ExecStart=/usr/local/bin/unx-dj-engine
Type=simple
User=pi
Restart=always
RestartSec=3
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target